{% extends '@ezdesign/pagelayout.html.twig' %}

{% block page_head %}
    <title>{{ title|default('Profile') }}</title>
{% endblock %}

{% block content %}
    <div>
        <!-- TODO make translation -->
        {{ 'login'|trans }} : {{ user.aPIUser.login }}</br>
        {{ 'email'|trans }} : {{ user.aPIUser.email }}</br>

        {% for field in user.aPIUser.fields() %}
            {% if field.value is not iterable and field.value is not empty %}
                {{ field.fieldDefIdentifier|trans }} : {{ field.value }}
            {% endif %}</br>
        {% endfor %}
    </div>

{% endblock %}
